@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: url(/static/ui/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: url(/static/ui/fonts/OpenSans-Bold.ttf);
}

body {
    padding: 0 15px;
}

* {
    font-family: 'Open Sans';
}

td {
    font-size: 0.9em;
}

.ui-loader {
  display: none;
}

#hab-info, #map {
    padding-left: 0em;
    padding-right: 0em;
}

.data-label {
    font-size: 0.9em;
}

.thumbnail {
    padding: 0.1em;
    margin-bottom: 0.2em;
}

#hab-info-thumbnail {
    padding-right: 15px;
}

.panel {
    margin-bottom: 0em;
}

.panel .row {
    margin-left: 0em;
    padding-bottom: 0.2em;
}

.data-label .label {
    font-size: 0.85em;
}

#photo-progress {
  margin-bottom: 0.1em;
}

.progress-bar-incomplete {
    background-color: #ffefef;
}

.disconnected:not(#droid_connected) {
    font-style: italic;
    color: #c0c0c0;
}

.connected[id='droid_connected'], .disconnected[id='droid_connected'] {
    font-weight: bold;
}

.connected[id='droid_connected'] {
    color: #009933;
}

.disconnected[id='droid_connected'] {
    color: #CC0000;
}

#droid_photo_progress, #droid_chunk_progress {
    display: none;
}

#map {
    height: 30em;
}

.panel-heading {
    padding: 0.2em;
}

.panel-heading h4 {
    margin: 0em;
    font-size: 1.5em;
}

.panel-body, .tiny-padding {
    padding: 0.1em;
}

.panel-right {
  float: right;
  vertical-align: bottom;
  font-size: 0.85em;
}

.panel-right a {
  color: white;
}

.panel-right a:hover {
  color: white;
}

.marker {
  text-align: center;
}

.marker img {
}

.marker-balloon {
  z-index: 100;
}

.marker-chaser {
  z-index: 1;
}

.marker-title {
  padding: 0.5em;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  font-size: 1.2em;
  font-weight: bold;
  background-color: white;
  opacity: 0.9;
  display: block;
}

.marker-balloon .marker-title {
  border: 3px solid #428aca;
}

.marker-chaser .marker-title {
  border: 3px solid #a754f5;
}

.marker-icon {
  width: 32px;
  height: 32px;
}

.marker-chaser .marker-car-1 {
  content: url('/static/ui/img/car-icon-1.png');
}

.marker-chaser .marker-car-2 {
  content: url('/static/ui/img/car-icon-2.png');
}

.marker-chaser .marker-car-3 {
  content: url('/static/ui/img/car-icon-3.png');
}

@media (max-width: 767px) and (orientation: landscape) {
    .landscape-xs-hidden {
        display: none;
    }
}

@media (max-width: 767px) {
    .panel-heading h4 {
        font-size: 1em;
    }

    .panel-right {
      font-size: 1em;
    }

    .data-label .label {
        font-size: 0.75em;
    }

    .data {
        font-size: 0.85em;
    }

    .col-xs-hidden, .col-sm-hidden, .col-md-hidden, .col-lg-hidden {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-sm-hidden, .col-md-hidden, .col-lg-hidden {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .col-md-hidden, .col-lg-hidden {
        display: none;
    }
}

@media (min-width: 1200px) {
    .col-lg-hidden {
        display: none;
    }
}
